In [1]:
import pandas as pd

In [3]:
file = 'House_price_multifeatures.csv'
fl_data = pd.read_csv(file)
fl_data.head()

/Users/tah96/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Id,PropertyLocationStreet1,PropertyLocationStreet2,PropertyCity,CountyFIPS,PropertyZip,OwnerName,OwnerMailAddress1,OwnerMailAddress2,...,HydrantLatitude,HydrantLongitude,LastSalePrice,LastSaleDate,Homestead,FloodzoneLastUpdatedDate,StateParcelId,AssesmentYear,Geometry,TTTerritory
0,0,120210f35317ca697,503 LAKE LOUISE CIR,19-201,NAPLES,21.0,34110,"BOLTZ, LARRY P & SANDRA A",3739 WRENS NEST BLVD,NaN,...,NaN,NaN,NaN,NaN,False,5/12/17 0:00,C21-000-188-9852-8,2015.0,NaN,541-0
1,0,12086db272d757be6,5934 NW 7 PL,NaN,MIAMI,86.0,33127,LILIANE MORISSETTE,5934 NW 7 PL,NaN,...,25.83045,-80.21022,NaN,NaN,True,12/8/17 0:00,C23-000-198-3578-4,2015.0,NaN,032-0
2,0,12057c35a22b0865c,5713 PALM RIVER RD,NaN,TAMPA,57.0,33619,PADRON LUIS A,5713 PALM RIVER RD,NaN,...,27.94326,-82.39026,NaN,NaN,True,1/1/31 0:00,C39-000-406-3313-3,2015.0,NaN,080-0
3,0,12057cf31f8e69893,1805 MAGDALENE MANOR DR,NaN,TAMPA,57.0,33613,BELLO CELESTE M,1805 MAGDALENE MANOR DR,NaN,...,28.07439,-82.47757,NaN,NaN,True,4/4/18 0:00,C39-000-389-2623-4,2015.0,NaN,080-0
4,0,12057c5b7712cfb0b,7405 ALAFIA RIDGE LP,NaN,RIVERVIEW,57.0,33569,LANE ROY JR,7405 ALAFIA RIDGE LOOP,NaN,...,27.87574,-82.29307,NaN,NaN,True,1/1/31 0:00,C39-000-414-6909-9,2015.0,NaN,080-0

In [4]:
new_df = fl_data[['Id','OwnerCity', 'OwnerState','PropertyLocationStreet1','PropertyCity','CountyName','PropertyZip','StateParcelId','ParcelSize','ValueofHome','YearBuilt','TypeOfResidence','NumberOfStories','AdjSquareFeet',
            'Pool','PPC', 'BCEG', 'DistancetoCoast', 'PoliceID','Crime','FireID','DistancetoFireDepartment', 'DistancetoSinkhole','SinkholeLatitude',
            'SinkholeLongitude', 'LocationWindSpeed', 'WindborneDebrisRegion', 'Terrain', 'FloodZone', 'FloodZoneRiskLevel']]

In [9]:
new_df['OwnerState'] = new_df['OwnerState'].replace({'FLORIDA': 'FL'})
clean_df_fl = new_df.loc[(new_df['OwnerState'] == 'FL')]
clean_df_fl.head()

/Users/tah96/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Id,OwnerCity,OwnerState,PropertyLocationStreet1,PropertyCity,CountyName,PropertyZip,StateParcelId,ParcelSize,ValueofHome,...,FireID,DistancetoFireDepartment,DistancetoSinkhole,SinkholeLatitude,SinkholeLongitude,LocationWindSpeed,WindborneDebrisRegion,Terrain,FloodZone,FloodZoneRiskLevel
1,12086db272d757be6,MIAMI,FL,5934 NW 7 PL,MIAMI,MIAMI-DADE,33127,C23-000-198-3578-4,4880.0,164994.0,...,626.0,0.98,9.56,25.96256,-80.16641,146.0,True,HVHZ,A:100,NaN
2,12057c35a22b0865c,TAMPA,FL,5713 PALM RIVER RD,TAMPA,HILLSBOROUGH,33619,C39-000-406-3313-3,16913.0,200346.0,...,NaN,0.05,0.82,27.94389,-82.37694,120.0,True,B,A:100,NaN
3,12057cf31f8e69893,TAMPA,FL,1805 MAGDALENE MANOR DR,TAMPA,HILLSBOROUGH,33613,C39-000-389-2623-4,27374.0,364161.0,...,NaN,1.69,0.39,28.08028,-82.47806,120.0,True,B,"A:60, X:40",NaN
4,12057c5b7712cfb0b,RIVERVIEW,FL,7405 ALAFIA RIDGE LP,RIVERVIEW,HILLSBOROUGH,33569,C39-000-414-6909-9,43883.0,138691.0,...,NaN,1.37,1.09,27.89053,-82.29201,120.0,True,B,"X:80, X500:20",NaN
5,12057a9d507819528,BRANDON,FL,1715 CINNABAR CT,BRANDON,HILLSBOROUGH,33510,C39-000-411-1518-9,5515.0,104365.0,...,NaN,1.54,1.14,27.98883,-82.30555,120.0,True,B,X:100,NaN

In [11]:
clean_df_fl.drop_duplicates(subset=['Id'])

,Id,OwnerCity,OwnerState,PropertyLocationStreet1,PropertyCity,CountyName,PropertyZip,StateParcelId,ParcelSize,ValueofHome,...,FireID,DistancetoFireDepartment,DistancetoSinkhole,SinkholeLatitude,SinkholeLongitude,LocationWindSpeed,WindborneDebrisRegion,Terrain,FloodZone,FloodZoneRiskLevel
1,12086db272d757be6,MIAMI,FL,5934 NW 7 PL,MIAMI,MIAMI-DADE,33127,C23-000-198-3578-4,4880.0,164994.0,...,626.0,0.98,9.56,25.96256,-80.16641,146.0,True,HVHZ,A:100,NaN
2,12057c35a22b0865c,TAMPA,FL,5713 PALM RIVER RD,TAMPA,HILLSBOROUGH,33619,C39-000-406-3313-3,16913.0,200346.0,...,NaN,0.05,0.82,27.94389,-82.37694,120.0,True,B,A:100,NaN
3,12057cf31f8e69893,TAMPA,FL,1805 MAGDALENE MANOR DR,TAMPA,HILLSBOROUGH,33613,C39-000-389-2623-4,27374.0,364161.0,...,NaN,1.69,0.39,28.08028,-82.47806,120.0,True,B,"A:60, X:40",NaN
4,12057c5b7712cfb0b,RIVERVIEW,FL,7405 ALAFIA RIDGE LP,RIVERVIEW,HILLSBOROUGH,33569,C39-000-414-6909-9,43883.0,138691.0,...,NaN,1.37,1.09,27.89053,-82.29201,120.0,True,B,"X:80, X500:20",NaN
5,12057a9d507819528,BRANDON,FL,1715 CINNABAR CT,BRANDON,HILLSBOROUGH,33510,C39-000-411-1518-9,5515.0,104365.0,...,NaN,1.54,1.14,27.98883,-82.30555,120.0,True,B,X:100,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59208,120865661a78fa3c8,MIAMI,FL,9221 NW 17 AVE,MIAMI,MIAMI-DADE,33147,C23-000-240-0005-1,8250.0,114432.0,...,NaN,0.57,8.07,25.96256,-80.16641,146.0,True,HVHZ,X:100,NaN
59209,1200980de660f371c,MELBOURNE,FL,1199 HOUSTON ST,MELBOURNE,BREVARD,32935,C15-001-090-5145-8,10890.0,119690.0,...,620.0,0.52,25.42,28.46383,-80.79177,120.0,True,C,X:100,NaN
59210,1208698914968668a,CORAL GABLES,FL,3715 HARLANO ST,CORAL GABLES,MIAMI-DADE,33134,C23-000-211-7828-0,7875.0,539553.0,...,NaN,0.66,16.74,25.96256,-80.16641,146.0,True,HVHZ,X:100,NaN
59211,120117d9876b67325,HOLLYWOOD,FL,714 N 32 AVE,HOLLYWOOD,BROWARD,33021,C16-000-116-3292-4,6502.0,194190.0,...,459.0,0.49,1.97,25.99000,-80.18329,140.0,True,HVHZ,X500:100,NaN
59212,1208671d49043ce45,MIAMI,FL,6520 SW 42 ST,MIAMI,MIAMI-DADE,33155,C23-000-246-8734-5,8906.0,336184.0,...,NaN,1.62,18.05,25.96256,-80.16641,146.0,True,HVHZ,A:100,NaN

In [12]:
clean_df_fl.to_csv('FloridaResidents.csv', index = False, header = True)